@define-color background #1A1A1A;
/* @define-color background #161616; */
@define-color on_background #B3B3B3;
/* @define-color on_background #767676; */
@define-color foreground #333333;
@define-color on_foreground #dedede;
@define-color active_primary #ffffff;
@define-color on_active_primary #161616;
@define-color active_secondary #5c5c5c;
@define-color on_active_secondary #161616;
/* @define-color foreground #2e2e2e; */
/* @define-color on_foreground #dedede; */
/* @define-color active_primary #ffffff; */
/* @define-color on_active_primary #161616; */
/* @define-color active_secondary #5c5c5c; */
/* @define-color on_active_secondary #161616; */


window#waybar {
    background-color: #161616;
    border: 0.1px solid white;
}

#custom-power {
  font-family: JetbrainsMono Nerd Font;
  font-size: 14px;
  /* background-color: #262626; */
  color: #767676;
  border-radius: 25px;
  /* padding: 0 5px 0 10px; */
  margin-left: 9px;
  min-height: 0;
}

#workspaces {
  /* background-color: @surface; */
  /* color: @on_surface; */
  /* padding: 1px 4px; */
  margin-left: 4px;
  /* border-radius: 25px; */
}

#workspaces button {
    font-family: JetbrainsMono Nerd Font, monospace; 
    font-size: 10px;
    padding: 0 0.2em;
    margin: 1px 1px;
    background-color: @foreground;
    color: @on_foreground;
    border: 0.2px solid white;
    /* border-radius: 15px; */
    transition: all 0.3s linear;
    border-radius: 0px;
    min-height: 0;
}

#workspaces button.active, 
#workspaces button.focused {
    background-color: @active_secondary;
    color: white;
}

#workspaces button:hover {
    background-color: @active_primary;
    color: @on_active_primary;
    transition: all 0.3s linear;
}


#window {
  font-family: JetbrainsMono Nerd Font;
  font-size: 12px;
  background-color: @foreground;
  color: @on_foreground;
  /* border-radius: 25px; */
  padding: 0 10px;
  margin-left: 4px;
  min-height: 0;
}

#clock.time{
    font-family: JetbrainsMono Nerd Font, monospace;
    font-size: 12px;
    color: @on_background;
    /* border-radius: 25px; */
    padding: 0px 0px 0px 10px;
    margin-left: 4px;
    min-height: 0;
}

#clock.date {
    font-family: JetbrainsMono Nerd Font, monospace;
    font-size: 12px;
    color: @on_background;
    /* border-radius: 25px; */
    padding: 0 0px;
    margin-left: 4px;
    min-height: 0;
}

#cpu, #memory {
    font-family: JetbrainsMono Nerd Font, monospace;
    font-size: 12px;
    color: @on_background;
    /* border-radius: 25px; */
    padding: 0 10px;
    margin-right: 4px;
    min-height: 0;
}

#tray {
  font-family: JetbrainsMono Nerd Font, monospace;
  font-size: 12px;
  color: @on_primary_container;
  /* border-radius: 25px; */
  padding: 0 10px;
  margin-right: 4px;
  min-height: 0;
}

#mpris {
  font-family: JetbrainsMono Nerd Font, monospace;
  font-size: 12px;
  color: @on_background;
  /* border-radius: 25px; */
  padding: 0 10px;
  margin-right: 4px;
  min-height: 0;
}

#mpris.spotify {
  background-color: #859900;
  color: black;
}

#wireplumber {
  font-family: JetbrainsMono Nerd Font, monospace;
  font-size: 12px;
  color: @on_background;
  /* border-radius: 25px; */
  padding: 0 10px;
  margin-right: 4px;
  min-height: 0;
}

#custom-notif {
  font-family: JetbrainsMono Nerd Font;
  font-size: 12px;
  /* background-color: @primary_container; */
  color: @on_background;
  /* border-radius: 25px; */
  padding: 0 11px 0 10px;
  margin-right: 4px;
  min-height: 0;
}

